<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Á</key>
	<string>{\'A}</string>
	<key>É</key>
	<string>{\'E}</string>
	<key>Í</key>
	<string>{'I}</string>
	<key>Ó</key>
	<string>{\'O}</string>
	<key>Ú</key>
	<string>{\'U}</string>
	<key>á</key>
	<string>{\'a}</string>
	<key>é</key>
	<string>{\'e}</string>
	<key>í</key>
	<string>{\'i}</string>
	<key>ó</key>
	<string>{\'o}</string>
	<key>ú</key>
	<string>{\'u}</string>

	<key>Â</key>
	<string>{\^A}</string>
	<key>Ê</key>
	<string>{\^E}</string>
	<key>Î</key>
	<string>{\^I}</string>
	<key>Ô</key>
	<string>{\^O}</string>
	<key>Û</key>
	<string>{\^U}</string>
	<key>â</key>
	<string>{\^a}</string>
	<key>ê</key>
	<string>{\^e}</string>
	<key>î</key>
	<string>{\^i}</string>
	<key>ô</key>
	<string>{\^o}</string>
	<key>û</key>
	<string>{\^u}</string>

	<key>Ä</key>
	<string>{\"A}</string>
	<key>Ë</key>
	<string>{\"E}</string>
	<key>Ï</key>
	<string>{\"I}</string>
	<key>Ö</key>
	<string>{\"O}</string>
	<key>Ü</key>
	<string>{\"U}</string>
	<key>ä</key>
	<string>{\"a}</string>
	<key>ë</key>
	<string>{\"e}</string>
	<key>ï</key>
	<string>{\"i}</string>
	<key>ö</key>
	<string>{\"o}</string>
	<key>ü</key>
	<string>{\"u}</string>
	<key>À</key>
	<string>{\`A}</string>
	<key>È</key>
	<string>{\`E}</string>
	<key>Ì</key>
	<string>{\`I}</string>
	<key>Ò</key>
	<string>{\`O}</string>
	<key>Ù</key>
	<string>{\`U}</string>
	<key>à</key>
	<string>{\`a}</string>
	<key>è</key>
	<string>{\`e}</string>
	<key>ì</key>
	<string>{\`i}</string>
	<key>ò</key>
	<string>{\`o}</string>
	<key>ù</key>
	<string>{\`u}</string>
	<key>Ç</key>
	<string>{\cC}</string>
	<key>ç</key>
	<string>{\cc}</string>
	<key>å</key>
	<string>{\aa}</string>
	<key>æ</key>
	<string>{\ae}</string>
	<key>Æ</key>
	<string>{\AE}</string>
	<key>œ</key>
	<string>{\oe}</string>
	<key>Œ</key>
	<string>{\OE}</string>
	<key>Ø</key>
	<string>{\O}</string>
	<key>ø</key>
	<string>{\o}</string>
	<key>ß</key>
	<string>{\ss}</string>
</dict>
</plist>
