<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>BibTeXExporter++</string>
	<key>CFBundleIconFile</key>
	<string>exporter</string>
	<key>CFBundleIdentifier</key>
	<string>com.mekentosj.papers.BibTeXExporter++</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>MTPX</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>NSMainNibFile</key>
	<string>Panel</string>
	<key>NSPrincipalClass</key>
	<string>mmBibTeXExporter</string>
	<key>PapersAuthorContact</key>
	<string>muellmat@informatik.uni-tuebingen.de</string>
	<key>PapersAuthorName</key>
	<string>Matthias Müller</string>
	<key>PapersAuthorWebsite</key>
	<string>http://www-db.informatik.uni-tuebingen.de</string>
	<key>PapersMinimumAppVersion</key>
	<string>0.8</string>
	<key>PapersMinimumOSVersion</key>
	<string>10.4</string>
	<key>PapersPluginCategory</key>
	<string>General</string>
	<key>PapersPluginDescription</key>
	<string>Generates BibTeX files from Papers for import into programs like Bibdesk and Jabref</string>
	<key>PapersPluginName</key>
	<string>BibTeX Exporter++</string>
</dict>
</plist>
